@media (min-width: 768px) {
  .form-item.form-type-checkboxes {
    display: inline-block;
    width: 30%;
    max-width: 300px;
    vertical-align: top;
  }
}

#translation-clone-admin-form fieldset {
  padding: 0;
}

fieldset p {
  padding-bottom: 1em;
  border-bottom: 1px solid #CCC;
  text-align: center;
}

fieldset .form-type-checkboxes > label {
  padding: 10px 0;
  transition: all 0.5s ease;
}

fieldset .form-type-checkboxes > label:hover {
  cursor: pointer;
  background: #dedede;
  padding: 10px;
}